.HomeRecommend .tab-content {
  padding-top: 20px;
}


#myAccordion li {
  width: 166px;
  transition: all .3s;
}

#myAccordion .hoverItem {
  width: 400px;
  opacity: 1;
}

#myAccordion .hoverOtheritem {
  width: 120px;
  opacity: 0.3;
}