.ant-table-wrapper {
   /* margin-top: 20px;*/
}
table {
    background-color: #fff!important;
}
.ant-table-thead > tr > th {
    background: #f6f6f6;
}
.ant-table-wrapper {
    background: #fff;
}
.ant-pagination-prev, 
.ant-pagination-next, 
.ant-pagination-jump-prev, 
.ant-pagination-jump-next {
    border: 1px solid #ccc;
}